<div class="page-header">
  <h1>User #<%= @user.id %> - <%= @user.username %></h1>
</div>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Favorite dishes</th>
      <th>Favorite venues</th>
    </tr>


  </thead>

  <tbody>

  <% @userFaves.each do |fave| %>
    <tr>
      <td><%= @dishes.find(fave.dish_id).name %></td>
      <td><%= @venues.find(fave.dish_id).name %></td>
    </tr>


  <% end %>
  </tbody>

